<header #header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" routerLink="/">
                            <img src="/assets/images/snapleaks_250.png" alt="SnapLeaks- The place for leaked snapchat nudes."/>
                        </a>
                    </div>
                    <div class="right-container" *ngIf="user">
                        <div class="user-box">
                            <div class="user">
                                <span class="name">{{ user.username }}</span>
                                <span class="fa fa-caret-down"></span>
                            </div>
                            <div class="drop-down">
                                <div class="counters-line">
                                    <div class="half">
                                    	<span class="counter">{{ kudos | shorten }}</span>
                                    	<span class="desc">{{ kudos == 1 ? 'kudo' : 'kudos' }}</span>
                                    </div>
                                    <div class="half">
                                    	<span class="counter">{{ (user.posts ? user.posts.length : 0) | shorten }}</span>
                                    	<span class="desc">{{ user.posts ? (user.posts.length > 1 ? 'leaks' : 'leak') : 'leaks' }}</span>
                                    </div>
                                </div>
                                <div class="buttons-line">
                                    <a href="#" class="btn btn-primary btn-block custom-button disabled">
                                    	<span class="fa fa-upload"></span>
                                    	Upload Leak
                                    </a>
                                    <a href="#" class="btn btn-primary btn-block custom-button disabled">
                                    	<span class="fa fa-star"></span>
                                    	Favorieten
                                    </a>
                                    <a href="settings.html" class="btn btn-primary btn-block custom-button disabled">
                                    	<span class="fa fa-cog"></span>
                                    	Profiel &amp; Instellingen
                                    </a>
                                    <a routerLink="/logout" class="btn btn-primary btn-block custom-button">
                                    	<span class="fa fa-sign-out"></span>
                                    	Uitloggen
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
