<div id="content">
	<div class="container-fluid">

		<div class="lock-container" *ngIf="!isRegister">
			<h1>Inloggen</h1>
			<form class="panel panel-default text-center" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
				<div class="panel-body">
					<div class="form-group" [class.has-warning]="!loginForm.controls.username.valid && loginForm.controls.username.dirty">
						<input class="form-control" type="text" placeholder="Gebruikersnaam"
						formControlName="username">
						<span class="help-block" *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.dirty && loginForm.controls.username.hasError('required')">
							Gebruikersnaam is vereist.
						</span>
					</div>

					<div class="form-group" [class.has-warning]="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
						<input class="form-control" type="password" placeholder="Wachtwoord"
						formControlName="password">
						<span class="help-block" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty && loginForm.controls.password.hasError('required')">
							Wachtwoord is vereist.
						</span>
					</div>

					<button class="btn images btn-primary">Inloggen <i class="fa fa-fw fa-unlock-alt"></i></button>
					<a (click)="isRegister = true" class="forgot-password">Registreren</a>
				</div>
			</form>
		</div>

		<div class="lock-container" *ngIf="isRegister">
			<h1>Registreren</h1>
			<form class="panel panel-default text-center" [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
				<div class="panel-body">
					<div class="form-group" [class.has-warning]="!registerForm.controls.username.valid && registerForm.controls.username.dirty">
						<input class="form-control" type="text" placeholder="Gebruikersnaam"
						formControlName="username">
						<span class="help-block" *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.dirty && registerForm.controls.username.hasError('required')">
							Gebruikersnaam is vereist.
						</span>
						<span class="help-block" *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.dirty && registerForm.controls.username.hasError('usernameUnique')">
							Gebruikersnaam is al bekend bij ons.
						</span>
						<span class="help-block" *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.dirty && registerForm.controls.username.hasError('minlength')">
							Gebruikersnaam moet minstens 3 tekens bevatten.
						</span>
						<span class="help-block" *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.dirty && registerForm.controls.username.hasError('maxlength')">
							Gebruikersnaam mag maximaal 20 tekens bevatten.
						</span>
					</div>

					<div formGroupName="passwords">
						<div class="form-group" [class.has-warning]="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.password.dirty">
							<input class="form-control" type="password" placeholder="Wachtwoord"
							[class.has-warning]="!registerForm.controls.passwords.controls.password.valid"
							formControlName="password">
							<span class="help-block" *ngIf="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.password.dirty && registerForm.controls.passwords.controls.password.hasError('required')">
								Wachtwoord is vereist.
							</span>
							<span class="help-block" *ngIf="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.password.dirty && registerForm.controls.passwords.controls.password.hasError('minlength')">
								Wachtwoord moet minstens 8 tekens bevatten.
							</span>
							<span class="help-block" *ngIf="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.password.dirty && registerForm.controls.passwords.controls.password.hasError('maxlength')">
								Wachtwoord mag maximaal 20 tekens bevatten.
							</span>
							<span class="help-block" *ngIf="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.password.dirty && registerForm.controls.passwords.controls.password.hasError('noNumber')">
								Wachtwoord moet minstens 1 nummer bevatten.
							</span>
							<span class="help-block" *ngIf="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.password.dirty && registerForm.controls.passwords.controls.password.hasError('noLowerCase')">
								Wachtwoord moet minstens 1 kleine letter bevatten.
							</span>
							<span class="help-block" *ngIf="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.password.dirty && registerForm.controls.passwords.controls.password.hasError('noUpperCase')">
								Wachtwoord moet minstens 1 hoofdletter bevatten.
							</span>
							<span class="help-block" *ngIf="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.password.dirty && registerForm.controls.passwords.controls.password.hasError('noSpecialChar')">
								Wachtwoord moet minstens 1 speciale character bevatten.
							</span>
						</div>

						<div class="form-group" [class.has-warning]="registerForm.controls.passwords.controls.repeat.dirty && registerForm.controls.passwords.dirty && (!registerForm.controls.passwords.valid || !registerForm.controls.passwords.controls.repeat.valid)">
							<input class="form-control" type="password" placeholder="Wachtwoord herhalen"
							formControlName="repeat">
							<span class="help-block" *ngIf="!registerForm.controls.passwords.controls.password.valid && registerForm.controls.passwords.controls.repeat.dirty && registerForm.controls.passwords.controls.repeat.hasError('required')">
								Wachtwoord herhaling is vereist.
							</span>
							<span class="help-block" *ngIf="!registerForm.controls.passwords.valid && registerForm.controls.passwords.dirty && registerForm.controls.passwords.hasError('areEqual')">
								Wachtwoorden moeten gelijk zijn.
							</span>
						</div>
					</div>

					<button class="btn images btn-primary">Registreren <i class="fa fa-fw fa-unlock-alt"></i></button>
					<a (click)="isRegister = false" class="forgot-password">Terug naar inloggen</a>
				</div>
			</form>
		</div>

	</div>
</div>
