<div class="row">
	<div class="col-sm-9">
		<masonry class="main-wrap layout-masonry">
            <masonry-brick class="main-post" *ngFor="let number of articles">
                <div class="article">
                    <h1><a href="post.html">{{ number }}. Joker saying how it is.</a></h1>
	                <div class="article-content">
	                    <figure>
	                        <div class="corner-tag green">
	                        	<a href="category.html">Gingerfun</a>
	                        </div>
	                        <img src="/assets/images/blog-post0{{ (number % 2 ? 1 : 2) }}.jpg"/>
	                    </figure>
	                </div>
                    <hr />
                    <div class="counters-line">
                        <div class="pull-left">
                            <div class="date"><i class="icon-date"></i> 23.04</div>
                            <div class="user"><i class="icon-user"></i> <a href="profile.html">johnjsu</a></div>
                            <div class="comments"><i class="icon-comments"></i> <a href="post.html">320</a></div>
                        </div>
                        <div class="pull-right">
                            <div class="like"><a href="#"><i class="icon-like"></i> 56</a></div>
                            <div class="dislike"><a href="#"><i class="icon-dislike"></i> 32</a></div>
                        </div>
                    </div>
                </div>
            </masonry-brick>
        </masonry>
	</div>
    <div class="col-sm-3">
		<sidebar></sidebar>
	</div>
</div>
